* {
    font-size: 20px;
  }
  h2 {
    margin-left: 10rem;
  }
  
  fieldset {
    width: max-content;
  }
  table tr th,
  td {
    padding-bottom: 1rem;
    width: 120px;
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="date"] {
    border: none;
    border-bottom: solid;
  }
  ::placeholder {
    font-size: 16px;
    font-weight: bold;
  }
  
  input[type="submit"] {
    margin-left: 8rem;
  }
  